@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Magra");
* {
  box-sizing: border-box;
}
html {
  background: url("images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
h1 {
  font-size: 60px;
}
h1,
h3,
a {
  font-family: "Fugaz One", cursive;
  color: #ff9200;
}
a {
  text-transform: capitalize;
  text-decoration: none;
}
p {
  color: #d2feff;
  font-family: "Magra", sans-serif;
  font-size: 16px;
}

img {
  border-radius: 5px;
  border: 1px red solid;
  box-shadow: 0 0 16px 7px black, 4px 4px 47px 0px white;
}

#first-curve {
  z-index: -1;
  position: absolute;
  height: 100vw;
  width: 100%;
  border-bottom-left-radius: 100% 100%;
  box-shadow: inset 0px 0px 267px 158px rgb(0, 0, 0), 0 0 45px 2px red;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  border-bottom: 1px black solid;
  background-color: rgb(40, 40, 40);
  line-height: 30px;
  text-align: center;
}
header p {
  margin: 0;
  word-spacing: 40px;
  color: red;
}
.intro {
  text-align: center;
  padding-top: 20px;
}

.intro p {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
}
#topimage img {
  margin: 50px 0 80px 0;
}
#topimage p {
  text-align: center;
}

.flexcontainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 15px auto;
}
.textbox {
  width: 30%;
  padding: 10px;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  box-shadow: inset 0 0 19px black, 0 0 10px black;
}
h3 {
}
.textbox p {
  border-left: 1px #fe933a solid;
  padding-left: 10px;
}

.textbox h3 {
}
.flexcontainer p {
  text-align: justify;
  padding-right: 5px;
}
.flexcontainer img {
  width: 300px;
  height: 350px;
}
#imagecontainer {
  width: 750px;
}
footer {
  text-align: center;
  height: 30px;
  background-color: rgb(40, 40, 40);
  line-height: 30px;
}

footer p {
  color: #ff9200;
}
